---
layout: default
---

<h1>{{site.title}}</h1>

<!-- display about page -->
<p>
{% for about in site.categories.about %}
<img style="float:right;width:35%;height:35%;padding-left:5px;" src="{{site.url}}/images/{{about.image}}" />
{{about.content}}
{% endfor %}
</p>

<!-- display feature page -->
<h2>Features</h2>
<p>
{% for feature in site.categories.feature %}
{{feature.content}}
{% endfor %}
</p>

<!-- list all features -->
<div class="clearfix">
{% for features in site.categories.features %}
<div class="featbox">
<img src="{{site.url}}/images/{{features.image}}" style="width:220px;height:auto;" alt="{{features.title}}" />
<h3>{{features.title}}</h3>
{{features.content}}
</div>
{% endfor %}
</div>

<p>&nbsp;</p>

<!-- list latest news -->
{% for post in site.categories.news limit:10 %}
<h2><a href="{{site.url}}{{post.url}}" >{{ post.title }}</a></h2>
<small>{{ post.date | date: "%-d %B %Y" }}</small>
<!-- <p class="view">by {{ post.author | default: site.author }}</p> -->
<p><a href="{{site.url}}{{post.url}}"><img src="{{site.url}}/images/{{post.image}}" style="width:200px;height:auto;" alt="{{post.title}}" /></a></p>
<p>{{post.description}}. <a href="{{site.url}}{{post.url}}" >Read more</a>.</p>
{% endfor %}
