---
layout: default
---

<h1>{{site.title}}</h1>

<!-- display about page -->
<p>
{% for about in site.categories.about %}
<img style="float:right;width:35%;height:35%;padding-left:5px;" src="{{site.url}}/images/{{about.image}}" />
{{about.content}}
{% endfor %}
</p>

<!-- list all features -->
<h2>Features</h2>
<div class="clearfix">
{% for features in site.categories.features reversed %}
<div class="featbox">
<a href="{{site.url}}{{features.url}}"><img src="{{site.url}}/images/{{features.image}}" style="width:220px;height:auto;" alt="{{features.title}}" /></a>
<h3>{{features.title}}</h3>
{{features.description}}
</div>
{% endfor %}
</div>

<!-- list latest news -->
<h2>News</h2>
<div class="clearfix">
{% for post in site.categories.news limit:10 %}
<div class="featbox2">
<a href="{{site.url}}{{post.url}}">
{% if post.image %}
<img src="{{site.url}}/images/{{post.image}}" style="width:200px;height:auto;" alt="{{post.title}}" />
{% else %}
<img src="{{site.url}}/images/placeholder.png" style="width:200px;height:auto;" alt="{{post.title}}" />
{% endif %}
</a>
<h3><a href="{{site.url}}{{post.url}}" >{{ post.title }}</a></h3>
<small>{{ post.date | date: "%-d %B %Y" }}</small><br>
{{post.description}}
</div>
{% endfor %}
</div>
