---
layout: default
---

<h1>{{page.title}}</h1>

<!-- list latest news -->
{% for post in site.categories.news %}
<h2><a href="{{site.url}}{{post.url}}" >{{ post.title }}</a></h2>
<small>{{ post.date | date: "%-d %B %Y" }}</small>
<p class="view">by {{ post.author | default: site.author }}</p>
<p><a href="{{site.url}}{{post.url}}"><img src="{{site.url}}/images/{{post.image}}" style="width:200px;height:auto;" alt="{{post.title}}" /></a></p>
<p>{{post.description}}. <a href="{{site.url}}{{post.url}}" >Read more</a>.</p>
{% endfor %}
